#navbar li {
    display:inline-block;
    padding: 20px;
    font-size: 20px;
    border: 2px solid purple;
    background-color: lightblue;
    font-family: cursive, monospace;
}
#aboutmepage table, th, td {
    border: 1px solid black;
}
#aboutmepage header {font-family: cursive, monospace;
table: td, th, tr {
    text-align: center;
}
#pictures li {
    display: inline-block;
    padding: 15px;
    border: 5px darkslategrey;
    border-radius: 100%;
}

#div: {
display: inline-block;
  margin: 100em;
}
.box {
  float: left;
  width: 200px;
  height: 100px;
  margin: 1em;
}
.after-box {
  clear: left;
}

